*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}
html,body{
    height:100%;

}
body{
    font-size: 13px;
    line-height: 1.75em;
}
body,input,textarea{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    color: #565656;
}


#aside{
    position: fixed;
    width: 15em;
    padding: 3em 1.35em 1em 1.15em;
    box-shadow: inset -0.1em 0em 0.35em 0em rgba(0,0,0,0.15);
    height: 100%;
    background-color:#364050;
    background-image: url(../img/bg1.png);
    color: #929da4;
    font-size: 1rem;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
    font-family: 'Open Sans Condensed', sans-serif;

}
#content_2{
    width: 15em;
    position: absolute;
    right: 0;
    top:3rem;
    border:1px solid white;
    box-shadow: inset 0em 0em 0em 1px rgba(255,255,255,0.15),0 0.025em 0.15em 0em;
    background-color: white;
}
#logo{
    background-color: #c94663;
    background-image: url(../img/bg1.png);
    padding: 1.75em 0.5em 1.75em 0.5em;
    margin: 2em auto;
    border-radius: 0.4em;
    text-align: center;
    box-shadow: inset 0em 0em 0em 1px rgba(255,255,255,0.15),0 0.025em 0.15em 0em rgba(0,0,0,0.25);
}
#logo h1 {

    font-weight: 600;
    color: #fff;
    font-size: 2em;
    letter-spacing: 0.1em;
    line-height: 0.8;
    margin-bottom: 0;
}
#content_3{
    background-color: #e8e8e8;
    background-image: url(../img/bg2.png);
}
#content_1{

    width:100%;
    padding-left: 15em;
    padding-right: 15em;
    box-shadow:0 0 0.25em 0 rgba(0,0,0,.25);
    background-color: #e8e8e8;
    background-image: url(../img/bg2.png);
}
#content{
    padding:3em 3em 8em 3em;
    margin:0 2em;
    border:1px solid white;
    box-shadow: inset 0em 0em 0em 1px rgba(255,255,255,0.15),0 0.025em 0.15em 0em;
    background-color: white;

}
nav{
    height:3em;
    width: 100%;
    background: linear-gradient(to bottom,#ebeef2,#ccc);
}
nav #menu{
    padding-right: 1.5rem;
}
nav ul li{
    list-style:none;
    padding: 10px;
}
nav ul li a{
    color:#555;
    font-size: 12px;
    text-decoration: none;
}
nav ul li a:hover,aside ul li a:hover{
    background: rgba(225,225,225,.1);
    text-decoration: none;
}

aside input{
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 3rem;
    margin: 0;
    background: rgba(19,20,23,.3);
    padding:1em;
}

#tree ul li{
    list-style: none;
}

/*搜索图标*/

aside #search{
    width:100%;
    margin: 0 auto;
}
aside span.fa.fa-search {
    position: absolute;
    right:0;
    top:0;
    color: #757575;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    padding-right:1rem;
    background: transparent;
}
p.text1{
    font-size: 1.5em;
    margin-top: 1.5em;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
}
/*滚动条*/
#tree ul {
    padding:0 0 0 20px;

}
#content_2 ul{
    /*padding:0 5px 5px 20px;*/
}
#content_2 ul li{
    list-style: none;
    line-height: 25px;
}
section ul li a,#tree ul li a,.aside_r_li{
    text-decoration: none;
    color:#fff;
    height:2em;
    line-height:2em;
    margin: 0.5rem auto;
    border-radius: 0.3em;
    transition-duration: 0.3s;
}
.aside_r_li {
    color:#1d2124;
}
span.aside_r_date{

    float:right;
}
section ul li a,#tree ul li a{
    display: block;
    width: 100%;
}
section ul li a{
    color: #1d2124;
}
.is_recent_ports{
    height:26em;
    overflow: hidden;
}
.is_recent_ports ul li a:hover,.is_recent_comments ul li a:hover,.aside_r_li a:hover{
    cursor: pointer;
    text-decoration: none;
    color:#999999;
}
aside #tree i.fa{
    padding-right: 5px;
}
#content_2 section:before, #content_2 li:before,#content_2 .is_recent_ports:before{
    content: '';
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.075);
    display: block;
}
section > :last-child{
    margin-bottom: 0;
}
#content_2 section{
    margin:2em 0 0 0;
    font-size:0.9em;
}
#content_2 h2{
    margin:2em 0 1em 0;
    font-size: 1.5em;
}
#aside_r{
    width: 80%;
    margin: 0 auto;
}
section div.inner{
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.4em;
    padding: 1.25em;
    margin: 2em 0;
    color: #1d2124;
    font-size: 14px;

    box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
}
@media screen and (max-width: 992px) and (min-width: 766px){
    #aside{
        display: none;
    }
    #content_1{
        padding-left: 0;
    }
    #post-author,#post-date{
        display: none;
    }
}
@media screen and (max-width: 767px) {
    #aside{
        display: none;
    }
    #content_2{
        display: none;
    }
    #content_1{
         padding-left: 0;
        padding-right: 0;
     }
    #post-author,#post-date{
        position:absolute;
        color:#999;
    }
    #articleList .atricle-read{
        margin-top: -7em;
    }
    #articleList .article-digest{
        display: none;

    }
    #articleList li{

    }
}
/*作者，时间相关*/
#post-author,#post-date{
    font-size: 9px;
    position:absolute;
    right:22%;
    color:#999;
}
#post-author{
    top:11%;
}
#post-date{
    top:15%;
}
#article{
    padding: 30px;
}
#article{
    background-color: white;
    /*background-image: url(../img/bg2.png);*/
    height:100%;

}
#article *{
    margin: 30px 0;

}
#article h1,h2,h3,h4,h5,h6{
    line-height:40px;
    margin: 20px 0 15px;

}
#article h1{
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid #e06c75;
}
#article h2{
    font-size: 32px;
    padding-bottom: 10px;
    /*border-left: 3px solid #73b1e0;*/
    padding-left: 10px;
    border-bottom: 2px solid #e06c75;
}
#article h3{
    font-size: 22px;
}
#article h4{
    margin: 20px 0;
}
#article a{
    color:#e06c75;
    text-decoration: none;
}
#article a:hover{
    border-bottom: 1px solid;
}
#article h1 a:hover{
    border-bottom: none;
}
#article code{
    border-radius: 3px;
    box-shadow: 0 0 5px #999;
}
#article img{
    max-width: 100%;
    height:auto;
    border-radius: 5px;
    box-shadow: 0 0 8px #999;
}
#article pre{
    font-size: 14px;
    margin: 20px 0 15px;
}
#article p{
    margin: 0 0 5px;
    line-height:28px;
   padding-left: 3px;

}
#article div.p_bgcolor{
    background-color: rgba(0,0,0,0.1);
    font-size:14px;
    margin: 0 0 5px;
    line-height:28px;
    padding-left: 3px;

}
/*表格处理*/
#article table{
    width: 100%;
    border:0;
    margin: 20px 0 50px 0;
    border-collapse: collapse;
    border-spacing:0;
    line-height:35px;
    border-radius:8px;
    box-shadow: 0 0 5px #999;
}
#article table th{
    background: #73b1e0;
    font-weight: 800;
    font-size:18px;
    text-align: left;
    line-height: 35px;
    color:#fff;
}
#article table tr:nth-child(odd){
    background: #F4F4F4;
}
#article table tr:hover,#article table tr:hover{
    background: #badbf5;
    color:#fff;
}
#article table td,table th{
    padding:5px 20px 5px 20px;
}
#article table tr:first-child th:first-child{
    border-top-left-radius:3px;
}
#article table tr:first-child th:last-child{
    border-top-right-radius:3px;
}
#article table tr:last-child th:first-child{
    border-bootom-left-radius:3px;
}
#article table tr:last-child th:last-child{
    border-bottom-right-radius:3px;
}
/*主页*/
#articleList{
    position: relative;
}
#articleList .article-li{
    margin-bottom: 3em;
    height: 12em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 8px #999;
    list-style: none;
    border: 1px solid #999;
}
#articleList .article-digest * {
    word-wrap: break-word;
    display: inline;
    font-size: 1.2em;
    color: #555;
    text-decoration: none;
    cursor: auto;
    box-shadow: none;
}
#articleList .article-digest{
    padding: 2em;
    position: relative;
    /*top:0.3em;*/
    width: 85%;

}
#articleList .article-date{
    position: relative;
    background: #e06c75;

    top:-1.2em;
    border-radius:2px;
    margin-left: 2em;
    padding: 0.5em;
    border-radius: 2px;
    color:#f9f7ed;
}
#articleList .atricle-read {
    position: absolute;
    background: #e06c75;
    color: #f9f7ed;
    padding: 0.8em;
    border-radius: 2px;
    right: 0em;
    margin-top: 7em;
    text-decoration: none;
    z-index: 1;
}

#articleList .article-title{
    position: relative;
    color:#555;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    top:1em;
    right:5em;
}

